<!--The content below is only a placeholder and can be replaced.-->
<section class="app container" fxLayout="column" fxLayoutAlign="start stretch">
  <mat-toolbar color="primary" class="mat-elevation-z10">
    <a mat-button (click)=toogleSideNav()> Menu</a>
    Bienvenido a {{ title }}!
  </mat-toolbar>

  <mat-sidenav-container class="container" fxFlex>
    <mat-sidenav mode="side" opened="{{showSideNav}}" class="mat-elevation-z6">

      <mat-toolbar>
        <span></span>
        <div layout="column" class="md-toolbar-tools-bottom">
          <span></span>
          <div>Firstname Lastname</div>
          <div>email@domainname.com</div>
        </div>
      </mat-toolbar>
      <mat-nav-list>
        <mat-list-item *ngFor="let item of menu" routerLink="{{item.ruta}}">
          <a>
            <div> {{item.titulo}}</div>
          </a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <router-outlet></router-outlet>
    
  </mat-sidenav-container>
</section>