<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
    <a mat-button (click)=toogleSideNav() > Menu</a>
    Welcome to {{ title }}!
</mat-toolbar>

<mat-sidenav-container >
  <mat-sidenav mode="side" opened="{{showSideNav}}">
      <nav>
          <a routerLink="/clientes">Clientes</a>
          <a routerLink="/clientes/new">Nuevo Cliente</a>
        </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    
  </mat-sidenav-content>
</mat-sidenav-container>



