<div *ngIf="showMessage" > {{ mensaje }}</div> 

<div>
    <mat-table #productos [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> id </mat-header-cell>
            <mat-cell *matCellDef="let item"> 
              <mat-checkbox #myCheckbox 
                  (change)="aBorrar($event, item.id)"
                  [checked]="exists(item.id)"
                 > {{item.id}} </mat-checkbox>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="codigo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.codigo}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.nombre}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="descripcion">
            <mat-header-cell *matHeaderCellDef  mat-sort-header> Descripcion </mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.descripcion}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="precioVenta" >
            <mat-header-cell *matHeaderCellDef mat-sort-header> Precio </mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.precioVenta | currency}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="stockInicial" >
            <mat-header-cell *matHeaderCellDef mat-sort-header> Stock Inicial</mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.stockInicial}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="totalIngreso" >
            <mat-header-cell *matHeaderCellDef mat-sort-header> Total Ingreso</mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.totalIngreso}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="totalSalida" >
            <mat-header-cell *matHeaderCellDef mat-sort-header> Total Salida</mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.totalSalida}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="totalStock" >
            <mat-header-cell *matHeaderCellDef mat-sort-header> Total Stock</mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.totalStock}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="estadoStock" >
            <mat-header-cell *matHeaderCellDef mat-sort-header>Estado Stock</mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.estadoStock}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="iva">
            <mat-header-cell *matHeaderCellDef>% I.V.A</mat-header-cell>
            <mat-cell *matCellDef="let item"> {{ item.porcenIva }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef> acciones </mat-header-cell>
            <mat-cell *matCellDef="let item">
                <a mat-button (click)="edit(item.id)">Editar </a>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>


    </mat-table>
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
    <button mat-raised-button (click)="borrar()"  color="warn" [disabled]="borrarDisabled">Borrar ({{ ids.length }})</button>
    <button mat-raised-button color="primary" (click)="nuevo()" >Nuevo</button>
    <button mat-button routerLink="/productos/varios">Desde Archivo</button>
    <button mat-button>Editar</button>
</div>