<div>
    <mat-table #productos [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> id </mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.id}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="codigo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.codigo}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.nombre}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="descripcion">
            <mat-header-cell *matHeaderCellDef  mat-sort-header> Descripcion </mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.descripcion}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="precio" >
            <mat-header-cell *matHeaderCellDef mat-sort-header> Precio </mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.precio}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="iva">
            <mat-header-cell *matHeaderCellDef> iva </mat-header-cell>
            <mat-cell *matCellDef="let item"> {{ item.iva }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef> acciones </mat-header-cell>
            <mat-cell *matCellDef="let item">
                <a mat-button (click)=onSelect(item)>Borrar </a>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>


    </mat-table>
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
    <button mat-button routerLink="/productos/new">Nuevo</button>
    <button mat-button routerLink="/productos/varios">Desde Archivo</button>
    <button mat-button>Editar</button>
</div>