<section class="flex-container" fxLayout="column" fxLayoutAlign="start stretch">

  <mat-card>
    <mat-card-header color="primary">
      Formulario de ingreso de datos Autocompletado cliente
    </mat-card-header>
    <form [formGroup]="pedidosForm" novalidate>

      <mat-form-field>
          <input matInput placeholder="Cliente" formControlName="clienteCtrl">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Pedido" formControlName="pedidoCtrl">
      </mat-form-field>
    </form>
    
  </mat-card>

  <mat-card>
    <div>
      <mat-table #pedidos [dataSource]="dataSource">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> id </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.id}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="nombreProducto">
          <mat-header-cell *matHeaderCellDef> Producto </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.nombreProducto}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="cantidad">
          <mat-header-cell *matHeaderCellDef> cantidad </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.cantidad}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="precio">
          <mat-header-cell *matHeaderCellDef> precio </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.precio}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="iva">
          <mat-header-cell *matHeaderCellDef> iva </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.iva}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="subTotalIva">
          <mat-header-cell *matHeaderCellDef> subTotalIva </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.subTotalIva}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="subTotal">
          <mat-header-cell *matHeaderCellDef> subTotal </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.subTotal}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
          <mat-cell *matCellDef="let item">
            <a mat-button (click)=onSelect(item)>Borrar </a>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

    </div>
  </mat-card>


  <mat-card>
    Total Items {{totalItems}} Total Total IVA 5% {{totalIva5}} Total Total IVA 10% {{totalIva10}} Total Total IVA {{totalIva}}
    Total Total General {{totalGeneral}}
  </mat-card>
</section>