<!--Lista de clientes-->
<div fxFlex>
    <div>
        <div class="alert alert-success" *ngIf="showMsg">
            Eliminado con exito!!!;
        </div>
    </div>


    <div>
        <mat-table #clientes [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> id </mat-header-cell>
                <mat-cell *matCellDef="let item">  
                    <mat-checkbox #myCheckbox (change)="aBorrar($event, item.id)" > {{item.id}} </mat-checkbox>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="nombre">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                <mat-cell *matCellDef="let item" > {{item.nombre}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="apellido">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.apellido}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ruc">
                <mat-header-cell *matHeaderCellDef mat-sort-header> RUC </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.ruc}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="estado">
                <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.activo}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="tipo">
                <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.tipo}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="direccion1">
                <mat-header-cell *matHeaderCellDef> Direccion 1 </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.direccion1}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="direccion2">
                <mat-header-cell *matHeaderCellDef> Direccion 2 </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.direccion2}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="fechaNacimiento">
                <mat-header-cell *matHeaderCellDef> Fecha Nac </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.fechaNacimiento}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="createdOn">
                <mat-header-cell *matHeaderCellDef> Registrado el</mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.createdOn}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="acciones">
                <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                <mat-cell *matCellDef="let item">
                    <a mat-button routerLink="/clientes/{{item.id}}/edit">Editar </a>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
        </mat-paginator>
        <button mat-raised-button (click)="borrar()"  color="warn" [disabled]="borrarDisabled">Borrar ({{ ids.length }})</button>
        <button mat-raised-button color="primary" routerLink="/clientes/new">Nuevo</button>
        <button mat-raised-button routerLink="/clientes/upload">Desde Archivo</button>
        <button mat-raised-button (click)="export()">Exportar</button>
    </div>

</div>

<div *ngIf="selectedCliente" fxFlex="33">

    <app-cliente-detail [cliente]="selectedCliente"></app-cliente-detail>

</div>